body{
  background-color: black;
}

.movie-detail-container {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
}

.back-button {
  background: none;
  border: none;
  color: #fafbfc;
  font-size: 50px;
  cursor: pointer;
  margin-bottom: 20px;
  text-decoration: none;
}


.error-message {
  color: red;
  font-weight: bold;
}

.movie-detail-content {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.movie-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.movie-poster {
  height: 500px;
  width: 450px;
  margin-left: 40px;
  margin-right: 20px;
}


.movie-main-info {
  text-align: left;
  color: white;
}

.mdh2{
  font-size: 35px;
  margin-left: 15px;
}

.mdp{
  font-size: 15px;
  margin-top: 0px;
  margin-left: 15px;
}

.save-btn{
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}


.save-logo{
  height: 40px;
  width: 40px;
  filter: invert(100%);
}

.plot{
  border-bottom: 1px solid white;
  padding-bottom: 10px; 
  margin-bottom: 25px;
  margin-top: 20px;
  margin-left: 15px;
}

.imdb{
  float: right;
  margin-right: 25px;
  margin-top: 0px;
}

.movie-main-info p {
  text-align: left;
  font-family:cursive;
  margin-right: 25px;
  margin-left: 15px;
}

.dropdown-menu {
  margin-top: 10px;
  color: white;
}

.dropdown-menu label{
  padding: 5px;
  font-size: 20px;
}

.movie-details {
  width: 100%;
  text-align: right;
}

.movie-details p {
  margin: 4px 0;
  font-size: 15px;
}


